*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Times New Roman", Serif;
}
body{
    background: #171515;
}
.container{
    margin: 0 150px;
}
.clearfix{
    float: none;
    clear: both;
}
h2{
    text-align: center;
    padding-top: calc(30vh - 23.5px);
    font-weight: 100;
    font-size: 40px;
    color: white;
    padding-bottom: 20px;
}
h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}
h4{
    font-weight: 100;
    font-size: 35px;
}
.line{
    width: 5rem;
    height: 1px;
    background-color: white;
}
.headerbild{
    height: 90vh;
    width: 100%;
    background: url("images/bgheader.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.headerbild p{
    text-align: center;
    padding: 10px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 20px;
}
.navbar{
    height: 10vh;
    background: #171515;
}
.fixed-nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    margin-bottom: -10vh;
}
.margetopnav{
    margin-top: 10vh;
}
.logo{
    padding-top: calc(5vh - 22.5px);
    float: left;
}
.categories{
    float: right;
    width: 40%;
}
.categories ul{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}
.categories ul li{
    float: left;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-transform: uppercase;
}
.activline{
    height: 1px;
    width: 120%;
    margin-left: -10%;
    position: relative;
    top: -13px;
    background: white;
}
.categories > ul > li:hover > .linecat{
    height: 1px;
    width: 120%;
    margin-left: -10%;
    position: relative;
    top: -13px;
    background: white;
}
.arrowdown{
    position: absolute;
    top: 91.7vh;
    left: calc(50% - 30px);
}
.arrowdownimg{
    width: 60px;
}
.navbar.fixed-nav .arrowdown{
    display: none;
}
.tomarg:hover{
    margin-bottom: -1px;
}
.story{
    background-color: #171515;
    padding: 50px 0 0 0;
}
.story .img{
    width: 33%;
    float: left;
}
.bgimgstory{
    margin-left: 30%;
    width: 50%;
    margin-right: 20%;
    margin-top: 50px;
    padding-bottom: 370px;
    background-image: url("images/story.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.story .text{
    color: white;
    max-width: 66%;
    float: right;
}
.story .text h3{
    margin-left: 20%;
}
.story .kreis{
    margin-top: -80px;
    margin-left: 60px;
}
.story .kreis img{
    width: 150px;
}
.story .text h4{
    width: 70%;
    margin-top: 30px;
}
.story .text h3 .line{
    margin-left: 45px;
    margin-top: 10px;
}
.story .text h4 .line{
    margin-left: 35%;
    margin-top: 20px;
}
.twospal p{
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}
.leftt{
    float: left;
    text-align: right;
    padding-right: 40px;
}
.rightt{
    float: left;
    text-align: left;
    margin-top: -20px;
}
.twospal{
    margin-top: 30px;
    margin-left: 75px;
}
.video{
    margin-top: 100px;
    height: 70vh;
}
.video .bg{
    height: 100px;
    position: absolute;
    width: 20%;
    z-index: 3;
    background: #171515;
}
.giantvideotitle{
    font-size: 55px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 60px;
    color: white;
    padding-top: 20px;
    background: transparent;
    position: relative;
    z-index: 3;
}
.play{
    position: relative;
    margin-left: calc(50% - 50px);
    width: 100px;
    margin-top: 18%;
    cursor: pointer;
}
.bgvid{
    width: 100%;
    height: 70vh;
    margin-top: -8vh;
    background-image: url("images/video-thumbnail.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(0.5);
    transition: all 500ms ease-in-out;
}
.bgvid:hover{
    filter: brightness(0.7);
}
.locations{
    margin-top: 100px;
    width: 100%;
    height: 70vh;
}
.leftimgtext{
    float: left;
    width: 66%;
}
.bigright{
    float: right;
    width: 20%;
    margin-right: 10%;
    margin-left: 3%;
    padding-bottom: 540px;
    background-image: url("images/bg_right_locations.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 10px;
}
.upperbild{
    padding-bottom: 260px;
    width: 40%;
    margin-left: 60%;
    background-image: url("images/upper.jpg");
    background-size: cover;
    background-position: center;
}
.textlo{
    margin-left: 33%;
    margin-top: 25px;
}
.textlo .line{
    margin-left: 2.5rem;
    margin-top: 1rem;
}
.textlo p{
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    color: white;
}
.bitchassptags{
    width: 75%;
    margin: 30px 20% 0px 5%;
}
.button{
    border: 1px solid white;
}
.button span{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 20px;
}
.button{
    padding: 8px 20px 0 8px;
    width: 160px;
    height: 35px;
    position: relative;
    left: 260px;
    top: -25px;
    cursor: pointer;
}
.button .line{
    position: relative;
    top: -27px;
    left: 60px;
    width: 3rem;
    transition: all 500ms ease-in-out;
}
.button:hover > .line{
    width: 5rem;
}
.footer{
    background-color: #18191d;
}
.upperfooter{
    height: 100px;
}
.upperfooter .logo{
    padding-top: 29.5px;
}
.upperfooter .arrowupimg{
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    transform: rotate(180deg);
    margin-top: 20px;
}
.underfooter p{
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.underfooter{
    padding: 45px;
}