@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300,500');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
    width: 0px;
}
#mfPreviewBar{
    display: none;
}
h1{
    font-family: 'Remachine Script';
    font-weight: lighter;
    text-align: right;
    font-size: 50pt;
}
.cf:after {
    content: '';
    display: table;
    clear: both;
    float: none;
}

.visible{
    display: block !important;
}

.head {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}

@media screen and (min-width: 320px) {
    body {
        background-color: white;
    }

    /*-------------------------HEADER------------------------------*/
    /*------------------------MAIN-NAV-----------------------------*/
    .topnavbar {
        background-color: white;
    }

    .main-nav {
        display: none;
    }

    /*------------------------MAIN-NAV-----------------------------*/
    /*--------------------------LOGO-------------------------------*/
    .logo-head {
        float: left;
    }

    .logo-head img {
        width: 125px;
        height: auto;
        padding: 12px 0 8px 15px;
    }

    /*--------------------------LOGO-------------------------------*/
    /*-----------------------BURGERICON----------------------------*/
    .burgericon {
        float: right;
        padding: 20px;

    }

    .burgericon div {
        background-color: black;
        height: 2px;
        width: 60px;
        -webkit-transition: ease-in-out 300ms;
        -moz-transition: ease-in-out 300ms;
        -ms-transition: ease-in-out 300ms;
        -o-transition: ease-in-out 300ms;
        transition: ease-in-out 300ms;
    }

    .burgericon div:nth-child(2) {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
    }

    .burgericon div:nth-child(3) {
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
    }

    .burgericon.open-nav div {
        -webkit-transform: rotate(23deg) translateY(8px) translateX(6px);
        -moz-transform: rotate(23deg) translateY(8px) translateX(6px);
        -ms-transform: rotate(23deg) translateY(8px) translateX(6px);
        -o-transform: rotate(23deg) translateY(8px) translateX(6px);
        transform: rotate(23deg) translateY(8px) translateX(6px);
    }

    .burgericon.open-nav div:nth-child(2) {
        opacity: 0;
    }

    .burgericon.open-nav div:nth-child(3) {
        -webkit-transform: rotate(-23deg) translateY(7px);
        -moz-transform: rotate(-23deg) translateY(7px);
        -ms-transform: rotate(-23deg) translateY(7px);
        -o-transform: rotate(-23deg) translateY(7px);
        transform: rotate(-23deg) translateY(7px);
    }

    /*-----------------------BURGERICON----------------------------*/
    /*-----------------------MOB-NAV-------------------------------*/
    .mobilebar {
        width: 100%;
        background-color: white;
        display: none;
    }

    .mobile-nav {
        background-color: white;
    }

    .mobile-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;
    }

    .mobile-nav ul li {
        list-style: none;
        text-align: center;
        font-family: 'Sunflower', sans-serif;
        font-size: 160%;
        text-decoration: none;
        padding: 0 0 10px 0;
    }

    .mobile-nav ul li:first-child {
        padding-top: 10px;
    }

    /*-----------------------MOB-NAV-------------------------------*/
    /*-------------------------HEADER------------------------------*/
    /*-------------------------BIG-IMG-----------------------------*/
    .bigImage {
        background-image: url("../images/content/headimg.jpg");
        background-size: cover;
        background-position: left;
    }

    .bigImage p{
        text-align: right;
        font-family: 'Sunflower', sans-serif;
        font-size: 18pt;
        margin-top: -18px;
    }
    .bigImage .claimer{
        margin-right: 20px;
    }
    .bigImage .hoehe{
        height: 125px;
        width: 2px;
        background-color: black;
        margin-top: -10px;
        float: right;

    }
    .bigImage .text{
        padding-right: 20px;

    }
    /*-------------------------BIG-IMG-----------------------------*/

    /*-------------------------COMPANY-----------------------------*/
    .company{
        background-image: url("../images/content/company/company.jpg");
        background-size: cover;
        background-position: right;
    }
    .titler{
        position: absolute;
        top: 80px;
        height: 35px;
        width: 240px;
        background: white;
        left: calc(50% - 120px);
    }
    .titler h2{
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        margin: 2px 0 0 20px;
    }
    .cardimg{
        position: absolute;
        top: 115px;
        left: calc(50% - 120px);
        background: rgba(255,255,255, 0.6);
        padding: 20px 20px 15px 20px;
        height: 205px;
    }
    .cardimg .text{
         display: none;
        max-width: 200px;
    }
    .cardimg .text p{
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
    }
    .cardimg img{
        width: 200px;
        display: none;
    }
    /*-------------------------COMPANY-----------------------------*/

}

@media screen and (min-width: 400px) {


}

@media screen and (min-width: 800px) {
    h1{
        font-size: 80pt;
    }

    .bigImage p{
        text-align: right;
        font-family: 'Sunflower', sans-serif;
        font-size: 25pt;
        margin-top: -25px;
    }
    .bigImage .claimer{
        margin-right: 20px;
    }
    .bigImage .hoehe{
        height: 180px;
        width: 2px;
        background-color: black;
        margin-top: -10px;
        float: right;

    }
    .bigImage .text{
        padding-right: 20px;

    }
}

@media screen and (min-width: 909px) {

    /*------------------------MAIN-NAV-----------------------------*/
    .topnavbar {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .main-nav {
        display: block;
        float: right;
        padding: 0 20px 0 0;
    }

    .main-nav ul li {
        float: left;
        list-style: none;
        font-family: 'Sunflower', sans-serif;
        font-size: 160%;
        padding: 18px 10px 10px 25px;
        font-weight: 100;
    }

    /*------------------------MAIN-NAV-----------------------------*/
    /*-------------------------MOB-NAV-----------------------------*/
    .burgericon {
        display: none;
    }

    .mobilebar {
        display: none !important;
    }

    /*-------------------------MOB-NAV-----------------------------*/

}

@media screen and (min-width: 1200px) {

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }


}