@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300,500');
@import url('https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style: none;
}

::-webkit-scrollbar {
    width: 0;
}

#mfPreviewBar {
    display: none;
}

body {
    overflow-x: hidden;
}

h1 {
    font-family: 'Remachine Script';
    font-weight: lighter;
    text-align: right;
    font-size: 50pt;
}

.cf:after {
    content: '';
    display: table;
    clear: both;
    float: none;
}

.visible {
    display: block !important;
}

.head {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}

@media screen and (min-width: 100px) {
    body {
        background-color: white;
    }

    .content {
        display: none;
    }

    .mobile {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../images/content/mobile/bg.jpg");
        background-size: cover;
        background-position: center;
    }

    .mobile .text {
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .mobile .butmut {
        position: relative;
        top: calc(50% - 46px);
    }

    .mobile h2 {
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        text-align: center;
        padding-bottom: 10px;
    }

    .mobile .button {
        width: 10em;
        margin: 0 auto;
        background: white;
        border: solid 1px;
        cursor: pointer;
        padding: 10px;
    }

    .mobile .button h2 {
        padding-bottom: 0px;
    }

    .topnavbar {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .main-nav {
        display: none;
    }

    .logo-head {
        float: left;
    }

    .logo-head img {
        width: 125px;
        height: auto;
        padding: 12px 0 8px 15px;
    }
}

@media screen and (min-height: 100px) {
    .content {
        display: none;
    }

    .mobile {
        display: block;
    }
}

@media screen and (min-width: 910px) and (min-height: 610px) {
    h1 {
        font-size: 80pt;
    }

    .mobile {
        display: none;
    }

    .content {
        display: block;
    }

    /*/////HEAD////////////////////////////////////////////////////////////*/
    .main-nav {
        display: block;
        float: right;
        padding: 0 20px 0 0;
    }

    .main-nav ul li {
        float: left;
        list-style: none;
        font-family: 'Sunflower', sans-serif;
        font-size: 160%;
        padding: 18px 10px 10px 25px;
        font-weight: 100;
    }

    /*/////HEAD////////////////////////////////////////////////////////////*/
    /*/////BIGIMG//////////////////////////////////////////////////////////*/
    .bigImage {
        background-image: url("../images/content/headimg.jpg");
        background-size: cover;
        background-position: left;
    }

    .bigImage p {
        text-align: right;
        font-family: 'Sunflower', sans-serif;
        font-size: 25pt;
        margin-top: -25px;
    }

    .bigImage .claimer {
        margin-right: 20px;
    }

    .bigImage .hoehe {
        height: 180px;
        width: 2px;
        background-color: black;
        margin-top: -10px;
        float: right;
    }

    .bigImage .text {
        padding-right: 20px;
    }

    /*/////BIGIMG//////////////////////////////////////////////////////////*/
    /*/////COMPANY/////////////////////////////////////////////////////////*/
    .company {
        background-image: url("../images/content/company/company.jpg");
        background-size: cover;
        background-position: right;
    }

    .wrap div {
        max-width: 45%;
        float: left;
        left: 20px !important;
    }

    .acord {
        position: absolute;
        width: calc(100% - 40px);
        padding: 5px 20px;
        max-width: 48%;
        float: left;
        top: 70px !important;
        right: 0;
    }

    .acord li span h2 {
        background-color: white;
    }

    .titler {
        position: absolute;
        top: 80px;
        height: 35px;
        width: calc(100% - 40px);
        background: white;
        left: calc(50% - 45%);
    }

    .titlerac {
        height: 35px;
        width: 100%;
        background: white;
        cursor: pointer;
    }

    .titlerac svg {
        float: right;
        margin-top: -37px;
        margin-right: 10px;
        transition: all 250ms ease-in-out;
    }

    .titlerac.active svg {
        transform: rotate(90deg);
    }

    .dropacc {
        display: none;
        background: rgba(255, 255, 255, 0.6);
        padding: 10px;
        width: calc(100% - 20px);
    }

    .dropacc p {
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        padding: 10px;
    }

    .titler h2 {
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        margin: 2px 0 0 10px;
    }

    .titlerac h2 {
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        padding: 5px 0 3px 8px;
        margin: 5px 0;
    }

    .cardimg {
        position: absolute;
        top: 115px;
        left: calc(50% - 45%);
        background: rgba(255, 255, 255, 0.6);
        width: calc(100% - 40px);
    }

    .cardimg .text {
        display: none;
        max-width: calc(100% - 40px);
    }

    .cardimg .text p {
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        padding: 10px;
    }

    .cardimg img {
        width: calc(100% - 20px);
        display: none;
        position: relative;
        padding: 10px;
        opacity: 0.60000002384185791015625;
    }

    /*/////COMPANY/////////////////////////////////////////////////////////*/
    /*/////TEAM////////////////////////////////////////////////////////////*/
    .team {
        background-image: url("../images/content/team/bg.jpg");
        background-size: cover;
        background-position: center bottom;
    }

    .wrapperteam {
        width: 100%;
    }

    .titleunder {
        margin: 20px;
    }

    .titleunder .underline {
        width: 5rem;
        height: 2px;
        background-color: black;
        margin: 2px 0 0 0;
    }

    .titleunder h2 {
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        font-size: 180%;
    }

    .persons {
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
    }

    .pers {
        width: 30%;
        float: left;
        background: rgba(255, 255, 255, 0.6);
        -webkit-box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.71);
        -moz-box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.71);
        box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.71)
    }

    .pers .undertext {
        padding: 10px;
        background-color: white;
    }

    .pers .undertext p {
        text-align: center;
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        font-size: 20px;
    }

    .persimg img {
        width: calc(100% - 20px);
        padding: 10px 10px 5px 10px;
        opacity: 0.9;
    }

    .pers1 img:hover,
    .pers2 img:hover,
    .pers3 img:hover {
        opacity: 1;
    }

    /*/////TEAM////////////////////////////////////////////////////////////*/
    /*/////PRODUCTS////////////////////////////////////////////////////////*/
    .products {
        background-image: url("../images/content/boards/bg.jpg");
        background-size: cover;
        background-position: bottom center;
    }

    .boards {
        height: 100vh;
        width: 60%;
        max-width: 60%;
        float: right;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .boards li {
        float: left;
        margin-right: -45px;
        margin-bottom: 75px;
    }

    .boards li:last-child {
        margin-right: 0;
    }

    .activeboard {
        width: 130px !important;
        opacity: 1 !important;
        z-index: 2 !important;
        -webkit-filter: brightness(1) !important;
        filter: brightness(1)!important;
    }

    .boards img {
        width: 122px;
        position: relative;
        z-index: 1;
        opacity: 0.9;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
        -webkit-filter: brightness(0.7);
        filter: brightness(0.7);
    }



    .btext h2 {
        background-color: white;
        padding: 10px;
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        font-size: 180%;
    }

    .btext p {
        background: rgba(255, 255, 255, 0.6);
        padding: 10px;
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        font-size: 20px;
    }

    .bt1,
    .bt2,
    .bt3,
    .bt4,
    .bt5 {
        position: absolute;
        width: 40%;
        top: calc(50% - 214px);
        display: none;
        z-index: 1;
    }

    .activetext {
        display: block;
        -webkit-box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.71);
        -moz-box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.71);
        box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.71);
    }

    .sand {
        height: 200px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
    }

    .sandbode {
        width: 100vw;
        height: 200px;
        position: relative;
    }
    /*/////MAKING////////////////////////////////////////////////////////*/
    .making{
        background-image: url("../images/content/making/bg.jpg");
        background-size: cover;
        background-position: bottom;
    }
    .makecats{
        height: 50%;
        width: 100%;
        margin-top: -20px;

    }
    .makecats .bg{
        background: rgba(255,255,255,0.8);
        -webkit-box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.71);
        -moz-box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.71);
        box-shadow: 0px 0px 40px -2px rgba(0,0,0,0.71);
    }
    .makecats .container{
        position: relative;
        top: calc(50% - 111px);
    }
    .catsmats svg{
        float: left;
        width: 45px;
    }
    .catsmats h2{
        padding: 10px;
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        font-size: 160%;
    }
    .catsmats .underline {
        width: 5rem;
        height: 2px;
        background-color: black;
        margin: 2px 0 15px 0;
    }
    .catsmats{
        margin: 40px 20px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }
    .store,
    .office,
    .production,
    .woodery{
        float: left;
    }
    .store h2,
    .office h2,
    .production h2,
    .woodery h2{
        float: left;
    }
    .makecats .titleunder {
        margin: 20px 0px -25px 0;
        background: white;
        padding: 10px 20px;
    }
    #chartdiv {
        width: 100%;
        height: 50%;
    }
    /*/////MAKING////////////////////////////////////////////////////////*/
    /*/////CONTACT///////////////////////////////////////////////////////*/
    .contact{
        background-image: url("../images/content/contact/bg.jpg");
        background-size: cover;
        background-position: center;
    }
    .impress{
        background-image: url("../images/content/making/bg.jpg");
        background-size: cover;
        background-position: right;
    }
    .daten{
        margin-top: calc(50% - 86px);
    }
    .adress{
        margin: 0 20px;
        background: rgba(255,255,255,0.8);
    }
    .adress .title{
        background: white;
        padding: 10px;
    }
    .adress .title h2{
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        font-size: 180%;
    }
    .beschr{
        padding: 10px;
    }
    .adress h2{
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        font-size: 160%;
    }
    .formdiv{
        padding: 20px;
    }
    .vorname,
    .plz{
        padding-right: 5px;
    }
    .kontaktperson,
    .city{
        padding-left: 5px;
    }
    .vorname,
    .kontaktperson,
    .plz,
    .city{
        float: left;
        width: calc(50% - 5px);
    }
    .formdiv div{
        padding-bottom: 6px;
    }
    .formdiv h2{
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        font-size: 160%;
    }
    .formdiv input{
        width: 100%;
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        font-size: 140%;
        border: none;
        background: rgba(255,255,255,0.6);
    }
    textarea{
        min-width: 100%;
        max-width: 100%;
        min-height: 100px;
        max-height: 100px;
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        font-size: 140%;
        border: none;
        margin-bottom: 6px;
        background: rgba(255,255,255,0.6);
    }
    button{
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        font-size: 160%;
        width: 100%;
        padding:4px 0;
        background: rgba(255,255,255,0.6);
        border: none;
    }
    button:hover{
        color: white;
        background-color: rgba(0,0,0,0.6);
    }
    .underform{
        text-align: center;
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        font-size: 140%;
        margin-top: 5px;
    }

    .submitted{
        font-family: 'Sunflower', sans-serif;
        font-weight: lighter;
        font-size: 160%;
        text-align: center;
        display: none;
    }
    .activesub{
        margin-top: -222px;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
    }
    .activesub .submitted{
        display: block !important;
    }
    /*/////CONTACT///////////////////////////////////////////////////////*/
}

@media screen and (min-width: 1100px) {
    .container {
        max-width: 1100px;
        margin: 0 auto;
        position: relative;
    }

    .company .container {
        top: -400px;
    }

    .company.cardimg .text p {
        font-size: 23px;
    }

    .boards img {
        width: 140px;
    }

    .activeboard {
        width: 150px !important;
    }

    .daten .container{
        max-width: 550px;
        margin-left: calc(100% - 550px);

    }
}