@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

* {
    margin: 0;
    padding: 0;
}
embed{
    display: none;
}
body{
    background-color: black;
    overflow: hidden;
}
h1 {
    color: white;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    font-size: 50px;
}

.main {
    position: absolute;
    z-index: 200;
    left: calc(50% - 182.5px);
    top: 250px;
}

.button a {
    background: rgba(255, 255, 255, 0.7);
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    text-decoration: none;
    position: absolute;
    left: calc(50% - 72.5px);
    padding: 4px 40px;
    border-radius: 5px;
    margin: 10px 0 0 0;
}

.button a:hover {
    background: rgba(255, 255, 255, 1);
}

#sliderWrapper {
    width: 100% !important;
    height: auto;
    overflow: hidden;
}

#sliderContainer .slider {
    width: 100%;
    /* height: 100vh;*/
    float: left;
    position: relative;
    background-size: cover;
    background-position: center;
}

#sliderContainer .slider1 {
    background-image: url("../images/slide_images/bild1.jpg");
}

#sliderContainer .slider2 {
    background-image: url("../images/slide_images/bild2.jpg");
}

#sliderContainer .slider3 {
    background-image: url("../images/slide_images/bild3.jpg");
}

#sliderContainer .slider4 {
    background-image: url("../images/slide_images/bild4.jpg");
}

#sliderContainer .slider5{
    background-image: url("../images/slide_images/bild5.jpg");
}